*.dcu
*.~*~
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.dll
bin
cs_wpf/MU_Puzzle_WPF/bin
cs_wpf/MU_Puzzle_WPF/obj
oxy_wpf/MU_Puzzle_OxyWPF/obj
*.dsk
*.~dsk
oxygene_class_attempt.zip
desktop.ini