*.dsk
*.~dsk
*.dcu
*.~*~
*.local
*.identcache
*.drc
*.map
*.exe
*.dll
*.sln
*.suo
*.zip
desktop.ini
__history
cs_wpf/MU_Puzzle_WPF/bin
cs_wpf/MU_Puzzle_WPF/obj
oxy_wpf/MU_Puzzle_OxyWPF/obj
oxy_wpf/MU_Puzzle_OxyWPF/bin
oxy_wpf/MU_Puzzle_OxyWPF2/obj
oxy_wpf/MU_Puzzle_OxyWPF2/bin
oxy_WinRT/MU_Puzzle_WinRT/obj
oxy_WinRT/MU_Puzzle_WinRT/bin
oxy_WinPhone/MU_Puzzle_WinPhone/obj
oxy_WinPhone/MU_Puzzle_WinPhone/bin

