*.dsk
*.~dsk
*.dcu
*.~*~
*.local
*.identcache
*.drc
*.map
*.exe
*.dll
*.sln
*.suo
*.xap
*.zip
UpgradeLog.*
desktop.ini
__history
cs_wpf/MU_Puzzle_WPF/bin
cs_wpf/MU_Puzzle_WPF/obj
oxy_wpf/MU_Puzzle_OxyWPF/obj
oxy_wpf/MU_Puzzle_OxyWPF/bin
oxy_wpf/MU_Puzzle_OxyWPF2/obj
oxy_wpf/MU_Puzzle_OxyWPF2/bin
oxy_wpf/MU_Puzzle_OxyWPF3/obj
oxy_wpf/MU_Puzzle_OxyWPF3/bin
oxy_WinRT/MU_Puzzle_WinRT/obj
oxy_WinRT/MU_Puzzle_WinRT/bin
oxy_WinRT/MU_Puzzle_WinRT/Backup
oxy_WinPhone/MU_Puzzle_WinPhone/obj
oxy_WinPhone/MU_Puzzle_WinPhone/Bin
oxy_WinPhone/MU_Puzzle_WinPhone/Bin/ARM/Debug
oxy_WinPhone/MU_Puzzle_WinPhone/Bin/x86/Debug
oxy_MultiPlatform/MU_PuzzleLib/MU_PuzzleClasses/bin
oxy_MultiPlatform/MU_PuzzleLib/MU_PuzzleClasses/obj
oxy_MultiPlatform/MU_PuzzleWPF/bin
oxy_MultiPlatform/MU_PuzzleWPF/obj
oxy_MultiPlatform/MU_PuzzleWin8/bin
oxy_MultiPlatform/MU_PuzzleWin8/obj
oxy_MultiPlatform/MU_PuzzleWin8/bin/x86
oxy_MultiPlatform/MU_PuzzleWin8/bin/x86/Debug
oxy_MultiPlatform/MU_PuzzleWin8/bin/x86/Debug/AppX
oxy_MultiPlatform/MU_PuzzleWin8/bin/x86/Debug/Common
oxy_MultiPlatform/MU_PuzzleWin8/bin/x86/Debug/AppX/Assets
oxy_MultiPlatform/MU_PuzzleWin8/bin/x86/Debug/AppX/Common
oxy_MultiPlatform/MU_PuzzleWinPhone8/bin
oxy_MultiPlatform/MU_PuzzleWinPhone8/obj
oxy_MultiPlatform/MU_PuzzleWinPhone8/obj/x86
oxy_MultiPlatform/MU_PuzzleWinPhone8/obj/x86/Debug
oxy_MultiPlatform/MU_PuzzleWinPhone8/obj/Debug
oxy_MultiPlatform/MU_PuzzlePhoneClass/obj/x86/Debug

