@charset "UTF-8";

body
{
  background-color:silver;
}

h1 {
	text-align:	center;
	color:		#991212;
	font-family:	Arial,sans-serif;
	font-size:	30pt;
}

h2 {
	text-align:	center;
	font-family:	Arial,sans-serif;
	font-size:	14pt;
	color:#991212;
}

h3{
	text-align:	center;
	color:		#991212;
	font-family:	Arial,sans-serif;
	font-size:	20pt;
}

#rules {
	text-align:	center;
	font-family:	Arial,sans-serif;
	font-size:	12pt;
}
